
/* NetApp.com Overrides */
.n-property-bar__inner-wrap {
  height: 38px;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ie-site-nav {
  width: 200px;
  float: left;
}

.ie-page-toolbar {
  width: 200px;
  float: right;
}

.ie-content-pane {
  padding: 24px 48px;
  padding-top: 0px;
}

h1 { font-size: 40px; margin-bottom: 24px; }
h2 { font-size: 32px; margin-bottom: 16px; }
h3 { font-size: 24px; margin-bottom: 16px; }
h4 { font-size: 20px; margin-bottom: 16px; }
h5 { font-size: 18px; margin-bottom: 16px; }

.sect1 {
  padding-bottom: 1.25em;
}

.sect1+.sect1 {
  border-top:2px solid #efefed
}

.sect1>h1, .sect1>h2, .sect1>h3, .sect1>h4 {
  margin-bottom: .5em;
  font-weight: 500;
}

.sect1>h1, .sect1>h2 { margin-top: .5em; }
.sect1>h3, .sect1>h4 { margin-top: 0px; }

ul, ol {
    margin-left: 1.5em;
}

.ulist, .olist {
  margin-bottom: 24px;
}

dl dd {
  margin-left: 1.125em;
}

dl dt {
    margin-bottom: .3125em;
    font-weight: bold;
}

#toctitle {
  color: inherit;
}

p.lead,.paragraph.lead>p,#preamble>.sectionbody>.paragraph:first-of-type p{font-size:20px;}

/* Temp Override netapp.css behavior */
li.n-footer__language svg {
  vertical-align: inherit;
}

/* Override */


.rss {
  font-size: 13px;
  padding: 6px 12px;
}

time+span {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

time+span+span {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

.n-footer__copyright {
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.n-footer__copyright+.n-footer__copyright {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

/* i18n */
#ie-i18n {
  display: none;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  pointer-events: all;
  cursor: pointer;
  margin-top: 13px;
  float: left;
}

#ie-i18n-menu {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 40px;
  vertical-align: top;
  margin-left: 12px;
}

.ie-i18n-container {
  position: relative;
  background: #fff;
  border: 1px solid #A6A8AB;
  border-radius: 6px;
  height: 30px;
  top: 5px;
}

.ie-i18n-icon-container {
  background: #0067c5;
  display: inline-block;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  font-size: 0;
  height: 40px;
  width: 40px;
  margin-right: 0;
  padding: 0;
  position: relative;
  right: 0;
  vertical-align: middle;
  opacity: 1;
  outline: none;
}

.n-globe__icon {
  fill: #fff;
  pointer-events: none;
  top: 0px;
  left: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ie-i18n-link {
  padding: 0px;
  display: inline;
}

.ie-i18n-lang {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 12px;
}

.ie-i18n-icon-container {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  background: #0067c5;
  border: 1px solid #0067c5;
  border-radius: 0 6px 6px 0;
  width: 30px;
  padding: 0 5px;
  margin: 0px;
  height: 100%;
}

.ie-i18n-results-container {
  position: absolute;
  top: 50px;
  right: 0px;
  left: auto;
  background: #FFF;
  border-bottom: solid 4px #0067C5;
  display: none;
  min-width: 230px;
  z-index: 200;
}

.n-language-selector-menu__header {
  border-bottom: solid 1px #F2F2F2;
  margin: 24px;
  padding-bottom: 24px;
  position: relative;
}

.n-language-selector-menu__title {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  color: #454545;
  font-size: 20px;
}

.n-language-selector-menu .n-menu__header-text {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  color: #454545;
  display: block;
  font-size: 12px;
  padding: 6px 24px;
  text-transform: uppercase;
}

/* Misc */
@media (min-width: 48em) {
  .ie-content-pane {
    width: calc(100% - 310px);
  }

  .n-property-bar__property-mark--has-property-name{
    padding-top: 6px;
  }

  .n-layout-flex__item:nth-child(7) {
    margin-left: .83333%;
    margin-right: .83333%;
    margin-top: 0;
  }
}

.image:after {
  display: none !important;
}

.n-property-bar__property-link:after {
    content: none !important;
}

.videoblock {
  /* Sets the content size */
  max-width: 848px;
  max-height: 480px;
}

.videoblock .content {
  max-width: inherit;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoblock video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 848px;
  max-height: 480px;
  margin: 0px;
}

.videoblock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  width: initial;
}

.n-doc__component-list {
  /* content: ""
  display: table; */
  float: left;
  clear: both;
}

/* Mobile (Default) Design */
.tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
  font-size: 8px;
}

.col-md-3 {
  width: 310px; /* 321px */
  min-width: 310px;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
  position: relative;
  padding-left: 30px;
  margin-top: 25px;
}

.n-doc__component-detail-content {
  float: left;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  /* Wrap word regardless of space */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#n-main-content {
  margin-top: 70px;
  min-height: 86vh;
}

.previous-version {
  background-color: #FFE1A1;
  padding: 15px;
  margin: 10px 0px;
}

.previous-version-highlight {
  font-weight: bold;
}

/* Mobile landscape */
@media screen and (min-width: 400px) {
  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

/* media queries */
@media screen and (min-width: 768px) {
  #ie-i18n {
    display: block;
  }

  .site-header {
    z-index: 500;
  }

  .n-property-bar__inner-wrap {
    height: 46px;
  }

  .ie-content-pane {
    width: calc(100% - 310px);
    margin-left: 310px;
    margin-top: 140px;
  }

  .col-md-3 {
    position: fixed;
    top: 240px;
    bottom: 80px;
  }

  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  #n-main-content {
    margin-top: 121px;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .n-property-bar__inner-wrap {
    height: 46px;
  }

  .ie-content-pane {
    width: calc(100% - 535px);
    margin-top: 70px;
  }

  .col-md-3 {
    position: fixed;
    top: 170px;
    bottom: 80px;
    z-index: 1;
  }

  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  #n-main-content {
    margin-top: 121px;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

.n-search-form__input {
  border-radius: 6px;
}

.page-details {
  color: #5e5e5e;
  font-size: .875rem;
}

h1.n-doc__component-detail-heading {
  margin-bottom: .1em;
}

.n-pdf-header {
  border: #e3e3e3;
  align-items: center;
  border: 1px solid transparent;
  display: inline-flex;
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  font-size: .875rem;
  padding-left: .75em;
  padding-right: .40em;
  height: 2.25em;
  line-height: 1.5;
  color: #454545;
  font-weight: bolder;
  width: 265px;
  box-shadow: 2px 0px 0px rgba(0,0,0,.08);
}
.n-pdf-button {
  color: #454545; 
  font-family: proxima-nova,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal; 
  text-decoration: none !important;
  font-weight: 600; 
  width: 100%
}
.n-pdf-body {
  border-bottom: 1px solid #e3e3e3 !important; 
  margin-left: 0px; 
  margin-bottom: 20px;
  width: 265px; 
  box-shadow: 2px 0px 0px rgba(0,0,0,.08);
}

.n-pdf-button > span {
  float: right;
}

.n-pdf-body li {
  list-style: none;
}
.n-pdf-body li a {
  font-size: 13px;
  line-height: 16px;
  padding: 3px 15px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.n-pdf-section {
    background-color: #e3e3e3;
    border: #e3e3e3;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: .675rem;
    padding-left: 1.2em;
    padding-right: .40em;
    height: 2em;
    line-height: 1;
    color: #454545;
    font-weight: bolder;
    width: 265px;
    box-shadow: 2px 0px 0px rgba(0,0,0,.08);
}
.n-pdf-section-title {
    color: #454545;
    font-family: proxima-nova,Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;
    font-style: normal;
    text-decoration: none !important;
    font-weight: 600;
    width: 100%;

}


