h2[id].n-property-bar__property-name {
  padding: 0px;
  margin-top: 0px;
}

.col-md-3 {
  padding-left: 30px;
  position: fixed;
}

/* NetApp Sidebar Overrides */
ul#mysidebar {
    width: 265px;
    border-radius:0px;
    background: inherit;
    padding-top: 0px;
    box-shadow: 2px 0px 0px rgba(0,0,0,.08)
}

.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    /*margin: 0 0 0 18px;*/
    margin:0px;
}

.nav {
    padding: 0px;
    margin: 0px;
}

.nav > li {
    margin: 0px 0;
}

.nav > li li {
    margin: 0px 0;
}

.nav a {
    display: block;
    outline: none;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    text-decoration: none;
}

.nav li > a > span {
    float: right;
    font-size: 13px;
    font-weight: bolder;
}


.nav li > a > span:after {
  content: '\276f';
  transform: rotate(90deg);
  display: block;
  color: #444;
}
.nav li.active > a > span:after {
  content: '\276f';
  transform: rotate(270deg);
  display: block;
  color: #444;
}

.nav a:hover, .nav li.active > a {
    /* background-color: #8D8D8D; */ /* Dark Grey */
    color: #0067C5; /* NetApp Blue */
    font-weight: bold;
    background: inherit;
    font-size: 14px;
}

.nav > li.active > a  {
  color: #0067C5; /* NetApp Blue */
  /*color: #347DBE; Blue */
  font-weight: bold;
  font-size: 14px;

}

.nav li a {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 15px;
    background: inherit;
}

.nav > li > a {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 15px;
}

.nav li.thirdlevel > a {
    color: #248EC2;
    font-weight:bold;
    padding-left:20px;
}

.nav li a {
    padding-right:10px;

}

.nav li a:hover {
    /*background-color: #8D8D8D;*/
    font-weight: normal;
    background: inherit;
    color: #0067C5; /* NetApp Blue */
}

.nav ul li a {
    background: inherit;
    padding-left:30px;
    border-top: 0px;
}

.nav ul li ul li a {
    padding-left:45px;
}

.nav ul li ul li ul li a {
    padding-left:60px;
}
/* end sidebar */
